In [1]:
from streambatch_request import StreambatchRequest
api_key = open('key.txt').read().strip() # read my API key from a file

In [2]:
space = [3.940705,49.345238]
request = StreambatchRequest(api_key, space)
ndvi_data = request.get_data()
ndvi_data.head()

Number of locations: 1
Range: 2014-01-01 - 2023-08-11, unit: day
Query ID: 3d7f4628-0f7f-43a3-8594-4638fb9bfe6c
Waiting for results.......................
Ready.

   point       time        lat       lon  ndvi.sentinel2  qa.sentinel2
0      0 2016-11-04  49.345238  3.940705        0.008026           0.0
1      0 2016-11-05  49.345238  3.940705        0.008026           0.0
2      0 2016-11-06  49.345238  3.940705        0.008026           0.0
3      0 2016-11-07  49.345238  3.940705        0.023977           0.0
4      0 2016-11-08  49.345238  3.940705        0.023977           0.0

In [3]:
import time
space = [3.940705,49.345238]
t = {'start':'2019-01-01','end':'2021-08-01','unit':'day'}
request = StreambatchRequest(api_key, space, time=t, asyncronous=True)
while request.ready() is False:
    print('.',end="",flush=True)
    time.sleep(10)
print("Finished!")
ndvi_data = request.get_data()
ndvi_data.head()

Number of locations: 1
Range: 2019-01-01 - 2021-08-01, unit: day
Query ID: da4f3c9b-7cf5-4afd-84fa-c94c18c3775a
.............Finished!

   point       time        lat       lon  ndvi.sentinel2  qa.sentinel2
0      0 2019-01-01  49.345238  3.940705       -0.001395           0.0
1      0 2019-01-02  49.345238  3.940705       -0.001395           0.0
2      0 2019-01-03  49.345238  3.940705       -0.000336           0.0
3      0 2019-01-04  49.345238  3.940705       -0.000336           0.0
4      0 2019-01-05  49.345238  3.940705       -0.000336           0.0

In [4]:
space = {'type': 'Polygon',
         'coordinates': 
                [[[-94.4545917478666, 41.9792090154671], 
                  [-94.4545448033213, 41.9757220431519], 
                  [-94.4450066084548, 41.9757090969481], 
                  [-94.4450437851949, 41.9792826686391], 
                  [-94.4545917478666, 41.9792090154671]]]
        }

request = StreambatchRequest(api_key, space)
ndvi_data = request.get_data()
ndvi_data.head()

Number of locations: 1
Range: 2014-01-01 - 2023-08-11, unit: day
Query ID: cf582841-8084-4abb-9202-488903a7c50d
Waiting for results.......
Ready.

,location,time,polygon,ndvi.sentinel2,qa.sentinel2
0,0,2017-01-07,"POLYGON ((-94.4545917478666 41.9792090154671, ...",0.215438,1.0
1,0,2017-01-08,"POLYGON ((-94.4545917478666 41.9792090154671, ...",0.215438,1.0
2,0,2017-01-09,"POLYGON ((-94.4545917478666 41.9792090154671, ...",0.215438,1.0
3,0,2017-01-10,"POLYGON ((-94.4545917478666 41.9792090154671, ...",0.215438,1.0
4,0,2017-01-11,"POLYGON ((-94.4545917478666 41.9792090154671, ...",0.215438,1.0