In [1]:
import sys 
import os
sys.path.append(os.path.abspath("/Users/tammerkamel/dev/proj/Streambatch/src/Streambatch/"))

from module1 import StreambatchConnection

In [2]:
some_polygon = {
    'type': 'Polygon',
    'coordinates': 
        [[[-94.4545917478666, 41.9792090154671], 
        [-94.4545448033213, 41.9757220431519], 
        [-94.4450066084548, 41.9757090969481], 
        [-94.4450437851949, 41.9792826686391], 
        [-94.4545917478666, 41.9792090154671]]]
}

points = [[3.940705,49.345238],[3.940705,49.345238]]

In [3]:
connection = StreambatchConnection(open('key.txt').read().strip(),debug=True)
query_id = connection.request_ndvi(polygons=[some_polygon], sources=['ndvi.savgol'])

Query ID: 2ad331cf-351d-4dc2-958c-89de81989d47
Source: ['ndvi.sentinel2', 'ndvi.landsat']
Number of polygons: 1
Start date: 2013-01-01
End date: 2023-08-26
Aggregation: median

In [4]:
df = connection.get_data(query_id)

In [5]:
df.head()

,time,location,polygon,ndvi.savgol
0,2013-04-25,0,"POLYGON ((-94.4545917478666 41.9792090154671, ...",0.215576
1,2013-04-26,0,"POLYGON ((-94.4545917478666 41.9792090154671, ...",0.215576
2,2013-04-27,0,"POLYGON ((-94.4545917478666 41.9792090154671, ...",0.215576
3,2013-04-28,0,"POLYGON ((-94.4545917478666 41.9792090154671, ...",0.215576
4,2013-04-29,0,"POLYGON ((-94.4545917478666 41.9792090154671, ...",0.215576