In [1]:
import sys 
import os
sys.path.append(os.path.abspath("/Users/tammerkamel/dev/proj/Streambatch/src/Streambatch/"))

from module1 import StreambatchConnection

In [4]:
connection = StreambatchConnection(open('key.txt').read().strip(),debug=True)
points = [[3.940705,49.345238]]
query_id = connection.request_ndvi(points=points)

Query ID: 9d0f5cd7-87c5-4c84-b7f3-ef5c145d0680
Source: ['ndvi.sentinel2']
Number of points: 1
Start date: 2013-01-01
End date: 2023-08-25
Aggregation: median

In [5]:
df = connection.get_data(query_id)
df.head()

   point       time        lat       lon  ndvi.sentinel2  qa.sentinel2
0      0 2016-11-04  49.345238  3.940705        0.008026           0.0
1      0 2016-11-05  49.345238  3.940705        0.008026           0.0
2      0 2016-11-06  49.345238  3.940705        0.008026           0.0
3      0 2016-11-07  49.345238  3.940705        0.023977           0.0
4      0 2016-11-08  49.345238  3.940705        0.023977           0.0