In [1]:
import requests
import json
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import time
import helpers

In [2]:
space = [[3.940705,49.345238]]
variable = ['ndvi.modis']
time = {
        'start':'2015-01-01',
        'end':'2023-08-01',
      	'unit':'day'
    }

In [3]:
# api_header = {'X-API-Key': open('key.txt').read().strip()}
# ndvi_request = {'variable': variable, 'space': space, 'time': time }
# response = requests.post('https://api.streambatch.io/async', json=ndvi_request, headers=api_header)
# query_id = json.loads(response.content)['id']
# access_url = json.loads(response.content)['access_url']
query_id = 'bd07fbef-e14f-4f8a-b7d1-15771382c413'
access_url =  f's3://streambatch-out/{query_id}.parquet'

[query_id, access_url]

['bd07fbef-e14f-4f8a-b7d1-15771382c413',
 's3://streambatch-out/bd07fbef-e14f-4f8a-b7d1-15771382c413.parquet']

In [4]:
helpers.wait_for_results(query_id)

Final Status: Succeeded

In [5]:
ndvi_data = pd.read_parquet(access_url, storage_options={"anon": True})
ndvi_data

      point       time        lat       lon  ndvi.modis  qa.modis
0         0 2015-01-01  49.345238  3.940705    0.381074       0.0
1         0 2015-01-02  49.345238  3.940705    0.021521       0.0
2         0 2015-01-03  49.345238  3.940705   -0.020637       0.0
3         0 2015-01-04  49.345238  3.940705    0.132789       0.0
4         0 2015-01-05  49.345238  3.940705    0.029497       0.0
...     ...        ...        ...       ...         ...       ...
3112      0 2023-07-10  49.345238  3.940705    0.282163       0.0
3113      0 2023-07-11  49.345238  3.940705    0.353957       0.0
3114      0 2023-07-12  49.345238  3.940705    0.215704       0.0
3115      0 2023-07-13  49.345238  3.940705    0.289237       0.0
3116      0 2023-07-14  49.345238  3.940705    0.359779       0.0

[3117 rows x 6 columns]