## Python Wrapper Prototype

- I think we should have a Python wrapper for the API
- The idea would be that users would just `pip install streambatch` and then have the REST stuff abstracted away
- Below is prototype

In [4]:
from streambatch_request import StreambatchRequest
api_key = open('key.txt').read().strip() # read my API key from a file

### Example 1
- A simple request for data for a point
- StreambatchRequest behaves synchronously, (it does the RESTful call and then waits for the data to be ready)
- This makes it easy for the user

In [5]:
space = [3.940705,49.345238]
request = StreambatchRequest(api_key, space)
ndvi_data = request.get_data()
print("Done!")
ndvi_data.head()

Number of locations: 1
Range: 2014-01-01 - 2023-08-12, unit: day
Query ID: fc427973-5373-4dcc-9ba1-c1cb68e578fb
Waiting for results..................
Ready.
Done!

   point       time        lat       lon  ndvi.sentinel2  qa.sentinel2
0      0 2016-11-04  49.345238  3.940705        0.008026           0.0
1      0 2016-11-05  49.345238  3.940705        0.008026           0.0
2      0 2016-11-06  49.345238  3.940705        0.008026           0.0
3      0 2016-11-07  49.345238  3.940705        0.023977           0.0
4      0 2016-11-08  49.345238  3.940705        0.023977           0.0

### Example 2
- By default time is set to include everything from 2013 to today, daily. But you can set yourself if you want to
- Also, you can use the api asynchronously if you want to by setting `asyncronous=True`

In [6]:
import time
space = [3.940705,49.345238]
t = {'start':'2019-01-01','end':'2021-08-01','unit':'day'}
request = StreambatchRequest(api_key, space, time=t, asyncronous=True)
while request.ready() is False:
    print('.',end="",flush=True)
    time.sleep(10)
print("Finished!")
ndvi_data = request.get_data()
ndvi_data.head()

Number of locations: 1
Range: 2019-01-01 - 2021-08-01, unit: day
Query ID: 3c906aeb-8c95-4b85-8d01-5e27403faccb
..Finished!

   point       time        lat       lon  ndvi.sentinel2  qa.sentinel2
0      0 2019-01-01  49.345238  3.940705       -0.001395           0.0
1      0 2019-01-02  49.345238  3.940705       -0.001395           0.0
2      0 2019-01-03  49.345238  3.940705       -0.000336           0.0
3      0 2019-01-04  49.345238  3.940705       -0.000336           0.0
4      0 2019-01-05  49.345238  3.940705       -0.000336           0.0

### Example 3
- polygons

In [7]:
space = {'type': 'Polygon',
         'coordinates': 
                [[[-94.4545917478666, 41.9792090154671], 
                  [-94.4545448033213, 41.9757220431519], 
                  [-94.4450066084548, 41.9757090969481], 
                  [-94.4450437851949, 41.9792826686391], 
                  [-94.4545917478666, 41.9792090154671]]]
        }

request = StreambatchRequest(api_key, space,silent=True)
ndvi_data = request.get_data()
ndvi_data.head()

....
Ready.

,location,time,polygon,ndvi.sentinel2,qa.sentinel2
0,0,2017-01-07,"POLYGON ((-94.4545917478666 41.9792090154671, ...",0.215438,1.0
1,0,2017-01-08,"POLYGON ((-94.4545917478666 41.9792090154671, ...",0.215438,1.0
2,0,2017-01-09,"POLYGON ((-94.4545917478666 41.9792090154671, ...",0.215438,1.0
3,0,2017-01-10,"POLYGON ((-94.4545917478666 41.9792090154671, ...",0.215438,1.0
4,0,2017-01-11,"POLYGON ((-94.4545917478666 41.9792090154671, ...",0.215438,1.0